body{
    font-family: Arial, sans-serif;
    background-color: #f6fcc7;
    margin: 0;
    padding: 0;
    text-align: center;
}
form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #e1f3f7;
    border: 1px solid gray;
    border-radius: 10px;
    height: 400px;
    text-transform: capitalize;
   
  }

  #fm{
    color: rgb(3, 3, 238);
    

  }

#message:hover{
background-color: blanchedalmond;
transform:width ;
width: 200px;
height: 150px;


}

#message{
    width: 200px;
}