#web{
    color: red;
}

#program{
color: red;

}

#section{
    color: red;
}
p{
    color: blue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}